.Blog {
  text-align: center;
}

.Blog-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Blog-logo {
    animation: Blog-logo-spin infinite 20s linear;
  }
}

.Blog-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Blog-link {
  color: #61dafb;
}

@keyframes Blog-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
.container {
  position: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #fafafa;
}
.container i {
  font-size: 1.5rem;
  transition: 0.4s;
}
.container:hover i {
  color: #f50057;
}
.fas {
  color: #f50057;
  transition: 4s;
}
